<article class="">
  <div class="container">
    <div class="row">
    <% speakers.forEach(function(item){ %>
        <div class="col-sm-8">
          <h3 class="speakerslist-title"></h3>
          <h5 class="speakerslist-name">with <a href="/speakers/shortname">name</a></h5>
          <p class="speakerslist-info"><a href="/speakers/shortname">
            <img src="" class="speakerslist-img img-circle pull-left" src="/images/speakers/shortname_tn.jpg" alt="Photo of name">
            Summary 
          </a></p>
        </div>
        <% }); %>
    </div>
  </div>
</article>
