<html>
<head>
<% include partials/template/head.ejs %>
</head>
<body id="<=% pageID %>">
<% include partials/template/header.ejs %>
  <div class="container">
        <div class="row">
          <div class="col-sm-8">
            <% include partials/content/maincontent.ejs %>
          </div>
          <aside class="col-sm-4">
          <% include partials/content/whoshouldcome.ejs%>
          <% include partials/content/artworklist.ejs %>
          </aside>
        </div>
  </div> <!-- Container -->
</body>
<% include partials/template/jsdefaults.ejs %>
</html>
